// KEYFRAMES
@keyframes fadeSlideTop50Anim
  0%
    opacity 0
    transform translate(0, -50px)
  100%
    opacity 1.0
    transform translate(0, 0)
@keyframes fadeInAnim
  0%
    opacity 0
  100%
    opacity 1.0


// CLASSES
.fade-slide-top
  animation fadeSlideTop50Anim 2s 1
  animation-fill-mode:forwards
  opacity 0
.fade-in
  animation fadeInAnim 2s 1
  animation-fill-mode:forwards
  opacity 0


// DELAYS
.delay-1
  animation-delay 1s

.delay-2
  animation-delay 2s

.delay-3
  animation-delay 3s
.delay-3-2
  animation-delay 3.2s
.delay-3-4
  animation-delay 3.4s

.delay-4
  animation-delay 4s
.delay-4-2
  animation-delay 4.2s
.delay-4-4
  animation-delay 4.4s

.delay-5
  animation-delay 5s
.delay-5-2
  animation-delay 5.2s
.delay-5-4
  animation-delay 5.4s

.delay-6
  animation-delay 6s
.delay-6-2
  animation-delay 6.2s
.delay-6-4
  animation-delay 6.4s