@font-face {
  font-family: 'TallDark';
  src: url('../type/talldark-webfont.eot');
  src: url('../type/talldark-webfont.eot?#iefix') format('embedded-opentype'),
       url('../type/talldark-webfont.woff') format('woff'),
       url('../type/talldark-webfont.ttf') format('truetype'),
       url('../type/talldark-webfont.svg#TallDarkAndHandsomeCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, san-serif;
  color: #6c6c6c;
}
section, article, header, aside, footer {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  padding: 0;
  margin: 0;
  font-family: 'TallDark', Arial, san-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #2e2c6d;
}
img {
  max-width: 100%;
}

body {
  background: #ecebd1;
}
.container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}
.side-bump {
  margin-left: 2.9296875%; /*30/1024*/
}
.part-wide {
  width: 75%;
}
#navbar {
  border-radius: 0 0 25px 25px;
  background: #5c5b71;
  box-shadow: 3px 2px 2px #000;
  padding: 20px 2.9296875%;
  color: #fff;
  overflow: auto;
}
#navbar header {
  float: left;
}
#navbar header h2 {
  font-family: Arial, san-serif;
  letter-spacing: normal;
  font-size: 16px;
  color: #fff;
}
#navbar nav {
  float: right;
}
#navbar nav ul {
  overflow: auto;
}
#navbar nav ul li {
  float: right;
}
#navbar nav ul li:after {
  content: "|";
}
#navbar nav ul li:first-child:after {
  content: "";
}
#navbar nav ul li a {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
}
#hero {
  position: relative;
}
#hero .byline {
  padding-top: 100px;
}
#hero h1 {
  position: absolute;
  top: 0;
  right: -35px;
  z-index: 1;
}
#hero #contact {
  margin-top: 20px;
  text-transform: uppercase;
  color: #2e2c6d;
}
#hero #contact a {
  color: #2e2c6d;
  text-decoration: none;
}
#hero #contact .me {
  font-size: 25px;
  color: #2e2c6d;
}
#hero #contact .me:after {
  content: " >>";
}
#hero #contact .name  {
  margin-top: 10px;
}
#hero #contact .email {
  font-size: 30px;
  color: #8f8dc5;
  text-decoration: none;
}
#pricing {
  margin-top: 50px;
}
.border {
  border: 3px solid #5f5ca6;  /*3/700=0.004285714*/
  padding: 0 2.560241%; /*17/664*/
  margin-bottom: 15px;
  border-radius: 25px;
}
.offer {
  clear: both;
  overflow: auto;
  background: #fff;
  position: relative;
  z-index: 2;
}
.offer h2 {
  font-size: 36px;
  margin: 25px 0 0 0;
}
.offer p {
  float: left;
  width: 46.686747%; /*310/664*/
  margin-right: 3.0120482%; /*20/664*/
}
.offer .prices {
  overflow: auto;
  float: right;
  width: 49.6987952%; /*330/664*/
  height: 170px;
  display: block;
}
.prices li {
  float: left;
  width: 47.5757576%; /*157/330*/
}
.prices li .unit {
  position: absolute;
  bottom: -15px;
  right: -8px;
  font-size: 20px;
}
.prices h3 {
  margin: 2px 0 0 0;
  padding: 0;
}
.circ {
  color: #fff;
  text-align: center;
  font-family: 'TallDark', Arial, san-serif;
}
.circ-lrg {
  width: 96px;
  height: 96px;
  background: url(../img/circ-lrg.png) no-repeat center;
  line-height: 107px;
  font-size: 50px;
  position: relative;
}
.circ-lrg .usd {
  font-size: 24px;
  margin-right: 3px;
}
.circ-sm {
  width: 40px;
  height: 40px;
  background: url(../img/circ-sm.png) no-repeat center;
  line-height: 45px;
  font-size: 10px;
}
#blurbs {
  margin-top: 30px;
  overflow: auto;
}
.half {
  width: 47.8571429%; /*335/700*/
  margin-right: 2.1428571%; /*15/700*/
  float: left;
} 
.blurb h2 {
  font-size: 40px;
  color: #2e2c6d;
  margin: 20px 0 10px 0;
}

#footer {
  clear: both;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 12px;
}
#footer ul {
  margin-bottom: 8px;
  overflow: auto;
}
#footer ul li {
  float: left;
  margin-left: 5px;
  line-height: 25px;
}

@media screen and (max-width: 926px) {
  #hero h1 {
    width: 49.0234375%; /*502/1024*/
  }
  #hero .byline {
    width: 62%; /*431/1024 + big tweak*/
  }
}
@media screen and (max-width: 768px) {
  #hero #contact .email {
    font-size: 22px;
  }
  .offer p  {
    width: 96.9879518%;
  }
  .offer .prices {
    width: 96.9879518%;
  }
  .part-wide {
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  #navbar {
    display: none;
  }
  #hero h1 {
    position: relative;
    margin-left: -20px;
    width: 90%;
  }
  #hero .byline {
    width: 100%;
    padding-top: 10px;
    margin-left: -10px;
  }
  #blurbs {
    margin-top: 0;
  }
  .half {
    float: none;
    width: 98%;
    margin: 0 0 0 2%;
  }
  .blurb {
    margin-top: 40px;
  }
  #footer .copyright li {
    font-size: 12px;
  }
}