extends layout

block header
  .bubble-col
    canvas.fade-slide-left.delay-1(id="bubble-column", height="500", width="100")
      p.noCanvas
        |You need a
        a(href="http://www.google.com/chrome")='modern browser'
        |to view this.
