extends layout

block content
  .home
    .fade-in.delay.delay-1.box
      .porthole
        canvas(id='bubble', height='300', width='300')
          p.noCanvas
            |You need a
            a(href="http://www.google.com/chrome")='modern browser'
            |to view this.
      img(src='/img/fizzWords2.png')
    h2.fade-in.delay.delay-3.tagline
      |Stop Waiting.  Start Creating.
    .contact
      a(href='https://twitter.com/intent/tweet?screen_name=aprilandjake')='@aprilandjake'