!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en') 
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='google-site-verification, content='K_Dl_YLZgW7HegnVNitELeZ8vXWsjkvs7JQdaptVnLA')
    meta(name='google-site-verification, content='odib3sr4MtQNAeJMyIi9z0tpY2Q41gRN9F15jWyYZPE')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="keywords", content='custom web design, fizzbreaker, fizz breaker, jake trent, custom web development')
    meta(name="description", content='Stop waiting.  Start creating.  Software custom to your life and your business.')
    meta(name="author", content='Jake Trent')
    meta(name="copyright", content='Copyright 2012 FizzBreaker. All rights reserved.')
    meta(name="viewport", content='width=device-width, initial-scale=1')
    title='FizzBreaker | Stop Waiting.  Start Creating.'
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/css/style.css')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js')
    script(src='/js/bubble-lite.js')
  body
    div(id='bg')
    .container
      block header

      block content

    block footer
      footer
        script
          var bubble = new Bubble();
          bubble.Initialize('bubble');

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script
          window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\\/script>')
        //-script(defer, src='js/plugins.js')
        script
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-16224416-3']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        //if lt IE 7
          script(defer, src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
          script(defer)
            window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})