extends content

block content
  article
    header
      h1 Services

    section
      header
        h2 FizzBreaker is passionate about providing
      ul
        li
          h3 Custom software exactly as you want it.
          p
            | We don't get too excited about something off-the-shelf that everyone else already has , everyone-else has it

    ul
      li Fully-engaged

