extends content

block content
  .content.color-green.fade-in.delay.delay-2
    a.back.fade-in.delay.delay-3(href='/') Back

    article
      header
        h1 Services

      section
        header
          h2 We offer creative design and development services
        p.
          The picture in your head can be a reality.
          We will breath life into your ideas, creating custom designs and developing products for your needs.
          The result will be sure to stand out, make a lasting impression, and contain your own unique flavor.

      section
        header
          h2 FizzBreaker is passionate about providing

        h3 Custom software exactly as you want it.
        p.
          We don't get too excited about something off-the-shelf that everyone else already has , everyone-else has it

        h3 Another good thing
        p.
          We don't get too excited about something off-the-shelf that everyone else already has , everyone-else has it
          We don't get too excited about something off-the-shelf that everyone else already has , everyone-else has it

        h3 Another good thing
        p.
          We don't get too excited about something off-the-shelf that everyone else already has , everyone-else has it
          We don't get too excited about something off-the-shelf that everyone else already has , everyone-else has it


