extends content

block content
  article
    header
      h1 Services

    section
      header
        h2 We offer creative design and development services
      p.
        The picture in your head can be a reality.
        We will breath life into your ideas, creating custom designs and developing products for your needs.
        The result will be sure to stand out, make a lasting impression, and contain your own unique flavor.

    section
      header
        h2 FizzBreaker is passionate about providing
      ul
        li
          h3 Custom software exactly as you want it.
          p.
            We don't get too excited about something off-the-shelf that everyone else already has , everyone-else has it

    section
      header
        h2 Only the latest, greatest for you


