// KEYFRAMES
@keyframes fadeSlideLeft50Anim
  0%
    opacity 0
    transform translate(-50px, 0)
  100%
    opacity 1.0
    transform translate(0, 0)
@keyframes fadeSlideTop50Anim
  0%
    opacity 0
    transform translate(0, -50px)
  100%
    opacity 1.0
    transform translate(0, 0)
@keyframes fadeInAnim
  0%
    opacity 0
  100%
    opacity 1.0
// multiple shadow vals not working -- commas removed
//@keyframes pulseShadowAnim
//  0%
//    box-shadow: 0 0 0 2px #000;
//  100%
//    box-shadow: 0 0 0 2px #000, 0 0 0 5px #fff, 0 0 0 8px rgba(255, 4, 80, 0.25), 0 0 0 12px #fff, 0 0 0 15px rgba(255, 4, 80, 0.35);


// CLASSES
.fade-slide-top
  animation fadeSlideTop50Anim 2s 1
  animation-fill-mode:forwards
  opacity 0
.fade-slide-left
  animation fadeSlideLeft50Anim 2s 1
  animation-fill-mode:forwards
  opacity 0
.fade-in
  animation fadeInAnim 2s 1
  animation-fill-mode:forwards
  opacity 0
//.pulse
//  animation-direction: alternate;
//  animation: pulseShadowAnim infinite 2s ease-in-out;

// DELAYS
.delay-1
  animation-delay 1s
  .delay-short &
    animation-delay 200ms

.delay-2
  animation-delay 2s
  .delay-short &
    animation-delay 220ms

.delay-3
  animation-delay 3s
  .delay-short &
    animation-delay 240ms
.delay-3-2
  animation-delay 3.2s
  .delay-short &
    animation-delay 260ms
.delay-3-4
  animation-delay 3.4s
  .delay-short &
    animation-delay 280ms

.delay-4
  animation-delay 4s
  .delay-short &
    animation-delay 300ms
.delay-4-2
  animation-delay 4.2s
  .delay-short &
    animation-delay 300ms
.delay-4-4
  animation-delay 4.4s
  .delay-short &
      animation-delay 320ms

.delay-5
  animation-delay 5s
  .delay-short &
      animation-delay 340ms
.delay-5-2
  animation-delay 5.2s
  .delay-short &
    animation-delay 360ms
.delay-5-4
  animation-delay 5.4s
  .delay-short &
    animation-delay 380ms

.delay-6
  animation-delay 6s
  .delay-short &
    animation-delay 400ms
.delay-6-2
  animation-delay 6.2s
  .delay-short &
    animation-delay 420ms
.delay-6-4
  animation-delay 6.4s
  .delay-short &
    animation-delay 440ms