<!DOCTYPE HTML>
<!--[if IE 7 ]><html lang="en" class="ie ie7 no-js"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie ie8 no-js"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="imagetoolbar" content="no" />
  <!--[if IE ]>
    <meta http-equiv="x-ua-compatible" content="edge" />
  <![endif]-->
  <meta name="google-site-verification" content="K_Dl_YLZgW7HegnVNitELeZ8vXWsjkvs7JQdaptVnLA" />
  <meta name="google-site-verification" content="odib3sr4MtQNAeJMyIi9z0tpY2Q41gRN9F15jWyYZPE" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="copyright" content="Copyright 2012 FizzBreaker. All rights reserved." />
  <meta name="Description" content="FizzBreaker will help you create a web presence that you are excited about and ready to share" />
  <meta name="Keywords" content="custom web design, fizzbreaker, fizz breaker, jake trent, custom web development" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FizzBreaker | Stop Waiting. Start Creating.</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/style.css" media="all" />
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="{{ STATIC_URL }}js/underscore-1.3.3.js"></script>
</head>
<body>
  <div id="bg">
    <!--<div class="lighten-top"></div>-->
  </div>

  <canvas id="bubble-column" class="fade-slide-left delay-1 bubble-col" height="500" width="100">
    <p class="noCanvas">You need a <a href="http://www.google.com/chrome">modern browser</a> to view this.</p>
  </canvas>

  <script type="text/javascript" src="{{ STATIC_URL }}js/zepto.min.1.0rc1.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bubble.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
</body>
</html>
