<!DOCTYPE HTML>
<!--[if IE 7 ]><html lang="en" class="ie ie7 no-js"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie ie8 no-js"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="imagetoolbar" content="no" />
  <!--[if IE ]>
    <meta http-equiv="x-ua-compatible" content="edge" />
  <![endif]-->
  <meta name="google-site-verification" content="K_Dl_YLZgW7HegnVNitELeZ8vXWsjkvs7JQdaptVnLA" />
  <meta name="google-site-verification" content="odib3sr4MtQNAeJMyIi9z0tpY2Q41gRN9F15jWyYZPE" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="copyright" content="Copyright 2012 FizzBreaker. All rights reserved." />
  <meta name="Description" content="FizzBreaker will help you create a web presence that you are excited about and ready to share" />
  <meta name="Keywords" content="custom web design, fizzbreaker, fizz breaker, jake trent, custom web development" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Custom Web Design and Development | FizzBreaker</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/style.css" media="all" />
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="{{ STATIC_URL }}js/bubble.js"></script>
</head>
<body>
  <div id="bg">
    <!--<div class="lighten-top"></div>-->
  </div>
  <div class="container">
    <div class="box">
      <div class="porthole">
        <canvas id="bubble" height="300" width="300"><p class="noCanvas">You need a <a href="http://www.google.com/chrome">modern browser</a> to view this.</p></canvas>
      </div>
      <img src="{{ STATIC_URL }}img/fizzWords2.png" />
    </div>
    <ul class="sections">
      <li><a href="#" class="fade-in one">Services</a></li>
      <li><a href="#" class="fade-in two">Portfolio</a></li>
      <li><a href="#" class="fade-in three">Contact</a></li>
    </ul>
    <div class="contact">
      <a href="https://twitter.com/intent/tweet?screen_name=aprilandjake">@aprilandjake</a>
    </div>
  </div>

  <script>
    var bubble = new Bubble();
    bubble.Initialize('bubble');
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28055959-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
