<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="odib3sr4MtQNAeJMyIi9z0tpY2Q41gRN9F15jWyYZPE" />
  <title>FizzBreaker</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/style.css" media="all">
</head>
<body>
  <div class="container">
    <section id="side">
      <header id="title" class="top">
        <h1>
          <img src="{{ STATIC_URL }}/img/title.png" alt="FizzBreaker" />
        </h1>
      </header>
      <div class="bubbles">&nbsp;</div>
    </section>
    <section id="content">
      <section id="top" class="top">
        <h2>
          <img src="{{ STATIC_URL }}/img/designdev.png" alt="Web Design &amp; Development" />
        </h2>
      </section>
      <section id="main">
        <article class="border offer">
          <header>
            <h2>Create Your Website</h2>
          </header>
          <p>
            A happy site needs a unique, custom design. We will work with you to design a balanced layout, pleasing
            color scheme, and matching typography. Then we'll code your website so it'll be ready to run on the
            Internet.
          </p>
          <ul class="prices">
            <li>
              <header>
                <h3>1st Page</h3>
              </header>
              <div class="circ circ-lrg">
                <span class="usd">$</span>100
              </div>
            </li>
            <li>
              <header>
                <h3>Additional Pages</h3>
              </header>
              <div class="circ circ-lrg">
                <span class="usd">$</span>25
              </div>
              <div class="circ circ-sm unit">
                /ea.
              </div>
            </li>
          </ul>
        </article>
        <article class="border offer">
          <header>
            <h2>Host Your Website</h2>
          </header>
          <p>
            A happy site also needs a home on the Internet. To keep your site up and available to your site visitors,
            it needs an address and a place to live. Hosting takes care of this. We'll give you your new site to host
            yourself or we can take care of it for you.
          </p>
          <ul class="prices">
            <li>
              <header>
                <h3>Per Site</h3>
              </header>
              <div class="circ circ-lrg">
                <span class="usd">$</span>10
              </div>
              <div class="circ circ-sm unit">
                /mo.
              </div>
            </li>
            <li>
              <header>
                <h3>&nbsp;</h3>
              </header>
              <div class="circ circ-lrg">
                <span class="usd">$</span>100
              </div>
              <div class="circ circ-sm unit">
                /yr.
              </div>
            </li>
          </ul>
        </article>
        <article class="half blurb">
          <header>
            <h2>Service to Suit You</h2>
          </header>
          <p>
            We are in the business of making websites that are easy to use, are pleasing to the eye, and that make the
            Internet a happier place. We are flexible beyond the stated services. We want to get you on the web and
            make you and your customers happy there.  Contact us, and we'll make you a happy customer.
          </p>
        </article>
        <article class="half blurb">
          <header>
            <h2>Referral Bonus</h2>
          </header>
          <p>
            We are a new and growing business. As such, our referral bonus is generous and simple: If you refer a new
            customer, you will receive 10% of the cost of the first completed job.
          </p>
        </article>
      </section>
      <footer id="footer">
        <ul>
          <li>&copy; 2012 FizzBreaker Web Design and Development</li>
        </ul>
        <ul>
          <li>Contact us: </li>
          <li><a href="mailto:fizzbreaker@gmail.com">fizzbreaker@gmail.com</a> |</li>
          <li>Salt Lake City, Utah |</li>
          <li><a href="tel:1-801-293-4993">(801) 293-4993</a> |</li>
          <li><a href="http://twitter.com/fizzbreaker">@fizzbreaker</a></li>
        </ul>
      </footer>
    </section>
  </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28055959-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>