<!DOCTYPE HTML>
<!--[if IE 7 ]><html lang="en" class="ie ie7 no-js"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie ie8 no-js"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="imagetoolbar" content="no" />
  <!--[if IE ]>
    <meta http-equiv="x-ua-compatible" content="edge" />
  <![endif]-->
  <meta name="google-site-verification" content="K_Dl_YLZgW7HegnVNitELeZ8vXWsjkvs7JQdaptVnLA" />
  <meta name="google-site-verification" content="odib3sr4MtQNAeJMyIi9z0tpY2Q41gRN9F15jWyYZPE" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="copyright" content="Copyright 2012 FizzBreaker. All rights reserved." />
  <meta name="Description" content="FizzBreaker will help you create a web presence that you are excited about and ready to share" />
  <meta name="Keywords" content="custom web design, fizzbreaker, fizz breaker, jake trent, custom web development" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Custom Web Design and Development | FizzBreaker</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/style.css" media="all" />
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <section id="navbar">
      <header>
        <h2>Custom web design &amp; development</h2>
      </header>
      <nav>
        <ul>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#pricing">Services &amp; Pricing</a></li>
        </ul>
      </nav>
    </section>
    <section id="hero">
      <h3 class="byline"><img src="{{ STATIC_URL }}/img/byline.png" alt="Let's make your site awesome" /></h3>
      <h1 class="title"><img src="{{ STATIC_URL }}/img/bigfizz.png" alt="FizzBreaker" /></h1>
      <div id="contact" class="side-bump">
        <h3><a href="#" class="me">Contact me</a></h3>
        <div class="name">Jake Trent</div>
        <a href="mailto:fizzbreaker@gmail.com" class="email">fizzbreaker@gmail.com</a>
        <div class="phone">or at: <a href="tel:801-293-4993">(801) 293-4993</a></div>
      </div>
    </section>
    <section id="pricing">
      <article class="border offer">
        <header>
          <h2>Create Your Website</h2>
        </header>
        <p>
          A happy site needs a unique, custom design. We will work with you to design a balanced layout, pleasing
          color scheme, and matching typography. Then we'll code your website so it'll be ready to run on the
          Internet.
        </p>
        <ul class="prices">
          <li>
            <header>
              <h3>1st Page</h3>
            </header>
            <div class="circ circ-lrg">
              <span class="usd">$</span>200
            </div>
          </li>
          <li>
            <header>
              <h3>Additional Pages</h3>
            </header>
            <div class="circ circ-lrg">
              <span class="usd">$</span>25
              <div class="circ circ-sm unit">
                /ea.
              </div>
            </div>
          </li>
        </ul>
      </article>
      <article class="border offer">
        <header>
          <h2>Host Your Website</h2>
        </header>
        <p>
          A happy site also needs a home on the Internet. To keep your site up and available to your site visitors,
          it needs an address and a place to live. Hosting takes care of this. We'll give you your new site to host
          yourself or we can take care of it for you.
        </p>
        <ul class="prices">
          <li>
            <header>
              <h3>Per Site</h3>
            </header>
            <div class="circ circ-lrg">
              <span class="usd">$</span>10
              <div class="circ circ-sm unit">
                /mo.
              </div>
            </div>
          </li>
          <li>
            <header>
              <h3>&nbsp;</h3>
            </header>
            <div class="circ circ-lrg">
              <span class="usd">$</span>100
              <div class="circ circ-sm unit">
                /yr.
              </div>
            </div>
          </li>
        </ul>
      </article>
    </section>
    <section id="blurbs" class="side-bump">
      <article class="half blurb">
        <header>
          <h2>10% Referral Bonus</h2>
        </header>
        <p>
          Fizz Breaker is a new and growing business. As such, the referral bonus is generous and simple: If you refer a
          new customer, you will receive 10% of the cost of the first completed job.
        </p>
        <p>
          Know someone who's been wanting a website?  <a href="mailto:fizzbreaker@gmail.com">Email me</a>.
        </p>
      </article>
      <article class="half blurb">
        <header>
          <h2>Service to Suit You</h2>
        </header>
        <p>
          I am in the business of discovering the vision that you have for your website and making it a reality. If you
          have specific requests, I will work to meet them. If you are looking for additional inspiration, I'll happily
          help guide you to an awesome result for your site. Whatever your style, I want you to feel well-served. <a
          href="tel:801-293-4993">Call me</a> and let's talk about what you'd like to see happen.
        </p>
      </article>
    </section>
    <footer id="footer" class="side-bump">
      <nav>
        <ul class="copyright">
          <li>&copy; 2012 FizzBreaker Web Design and Development</li>
          <li><a href="mailto:fizzbreaker@gmail.com">fizzbreaker@gmail.com</a> |</li>
          <li>Salt Lake City, Utah |</li>
          <li><a href="tel:801-293-4993">(801) 293-4993</a> |</li>
          <li><a href="http://twitter.com/fizzbreaker">@fizzbreaker</a></li>
        </ul>
      </nav>
    </footer>
  </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28055959-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
